:root {
	--primary-color: white;
	--secondary-color: #89CFF0; /* baby blue */
}
* {
	background-color: #1f1f24;
	color: var(--primary-color);
	font-family: Helvetica, Verdana, sans-serif;
}

/* HEADER begin */
header {
	position: -webkit-sticky;
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	top: 0;
	z-index: 9999;
}
header h1 {
	color: var(--primary-color);
	font-style: italic;
}
header nav {
	margin: 6px 0;
}
header a {
	text-decoration: none;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li {
	padding: 10px 25px;
	font-size: 1.55vw;
	font-weight: lighter;
}
header nav ul li a:hover {
	border-bottom: 1px solid var(--secondary-color);
	font-weight: bold;
}
/* HEADER end */

/* ABOUT ME begin */
.about-me {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: linear-gradient(var(--secondary-color), #1f1f24);
}
.about-me-bio h2 {
	font-size: 2.25vw;
	color: var(--secondary-color);
	background: rgba(255,255,255,0);
}
.about-me-bio {
	margin: 8%;
	width: 40%;
	background: rgba(255,255,255,0);
}
.about-me-pic img {
	flex: 0 10%;
	margin: 5px;
	width: 370px;
	height: 500px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	background: transparent;
}
/* ABOUT ME end */