:root {
	--primary-color: white;
}
* {
	background-color: #1f1f24;
	color: var(--primary-color);
	font-family: Helvetica, Verdana, sans-serif;
}

/* HEADER begin */
header {
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header nav {
	margin: 6px 0;
}
header a {
	text-decoration: none;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
header nav ul li {
	padding: 10px 25px;
	font-size: 1.30vw;
	font-weight: lighter;
}
header nav ul li:hover {
	border-bottom: 1px solid #89CFF0;
}
header nav ul li > li:not(:hover) {
	color: grey;
}